.text-color{
    color: black;

}

.section-heading{
    color: black;
    text-align: center;
    font-size: 28px;
    /* background-color: black; */
    /* background: none; */
    /* background: black; */
}
.text-color-black{
    color: black;
}
.text-color-grey{
    color: rgb(99,110,113);
}
.text-h6{
    font-size: 10px;
}
.text-h5{
    font-size: 13px;
}
.text-h4{
    font-size: 16px;
}
.text-h3{
    font-size: 19px;
}
.text-h2{
    font-size: 22px;
}
.text-h1{
    font-size: 25px;
}