@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


*{
    --steelblue-1: #0082C7;
    --steelblue-2: #0272AF;
    --steelblue-3: #0069A1;
    --steelblue-4: #006094;
    --steelblue-5:#004C76;
    --gray-1:#848D90;
    /* fonts */
    /* font-style:; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'Open Sans', sans-serif;
    font-weight: 600; */
    /* font-family:  Poppins; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}
.bg-white{
    background-color: white !important;
}
.bg-smoke{
    background-color:#F8FAFB !important;
}
.bg-steelblue{
    background-color: #0082C7 !important;
}
.bg-gray{
    background-color:#848D90 !important;
}
.bg-black{
    background-color: black !important;
}
.text-white{
    color: white !important;
}
.text-smoke{
    color: #F4F4F4 !important;
}
.text-steelblue{
    color: #0082C7 !important;
}
.text-gray{
    color:#848D90 !important;
}
.text-black{
    color: black !important;
}






.text-color{
    color: black ;

}

.section-heading{
    color: black;
    text-align: center;
    font-size: 28px;
    /* background-color: black; */
    /* background: none; */
    /* background: black; */
}
.text-color-black{
    color: black;
}
.text-color-grey{
    color: rgb(99,110,113);
}
.text-h6{
    font-size: 10px;
}
.text-h5{
    font-size: 13px;
}
.text-h4{
    font-size: 16px;
}
.text-h3{
    font-size: 19px;
}
.text-h2{
    font-size: 22px;
}
.text-h1{
    font-size: 35px;
}
.text-center{
    text-align: center;
}
.text-bold{
    font-weight: bold;
}
.text-decoration-none{
    text-decoration: none;
}
.mt-0{
    margin-top: 0px;
}
.mb-0{
    margin-bottom: 0px;
}
.mb-2{
    margin-bottom: 5%;
}
.flex{
    display: flex;
}
.justify-content-center{
    justify-self: center;
}
.align-items-center{
    align-items: center;
}
.gap-2{
    gap: 5px;
}
.gap-3{
    gap: 7.5px;
}

.invisible-scrollbar::-webkit-scrollbar {
    width: 0px; /* Set the width of the vertical scrollbar */
    height: 0px; 
    /* Set the height of the horizontal scrollbar */
    }

.homepage-our-collection-img{
    height: 500px;
    width: 600px;
}