#whoweare-container{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    /* background-color: red; */
    width: 100vw;
    /* margin-top: 5%; */
    padding-top: 5%;
    padding-bottom: 5%;
    flex-wrap: wrap;

    /* width: 100%; */

}
.whoweare-box{
    /* background-color: aqua; */
    /* width: fit-content; */
    width: 250px;
    text-align: center;
    border: solid;
    padding: 25px;
    border-radius: 20px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);



    border-color: transparent;

}
.whoweare-heading{
    padding-top: 5%;
    margin: auto;
    text-align: center;
}
.whoweare-svg-container{
    /* background-color: aqua; */
    text-align: center;
    width: fit-content;
    margin: auto;
    /* font-size: 200%; */
    padding-bottom: 5%;
}
/* Extra Small Devices (Phones, less than 576px) */
@media (max-width: 575.98px) {
/* Styles for extra small devices */
.whoweare-box{
    width: 350px;
    margin-bottom: 2%;
}
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
/* Styles for small devices */
.whoweare-box{
    width: 600px;
    margin-bottom: 2%;
}
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
/* Styles for medium devices */
.whoweare-box{
    width: 400px;
    margin-bottom: 2%;
}
}

/* Large Devices (Large Desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
/* Styles for large devices */
.whoweare-box{
    width: 300px;
    margin-bottom: 2%;
}
}

/* Extra Large Devices (Extra Large Desktops, 1200px and up) */
@media (min-width: 1200px) {
/* Styles for extra large devices */
.whoweare-box{
    width: 22vw;
    /* margin-bottom: 2%; */
}
}