<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durity</title>
    <script>
        $(function(){
      $("#navbar").load("../components/navbar.html"); 
    });
    $(function(){
      $("#contactUs").load("../components/contactUs.html"); 
    });
    $(function(){
      $("#ourTopProducts").load("../components/topProducts.html"); 
    });
    $(function(){
      $("#recentProducts").load("../components/recent.html"); 
    });
    $(function(){
      $("#ourInovations").load("../components/ourInovations.html"); 
    });
    $(function(){
      $("#footer").load("../components/footer.html"); 
    });
    $(function(){
      $("#banner").load("../components/homepagebanner.html"); 
    });
    $(function(){
      $("#trending").load("../components/trending.html"); 
    });
    $(function(){
      $("#chat").load("../components/chatboat.html"); 
    });
    $(function(){
      $("#whoweare").load("../components/whoAreWe.html"); 
    });

      </script>
</head>
<body>
    <div id="navbar"></div>
    <div id="banner"></div>
    <div id="recentProducts"></div>
    <div id="whoweare"></div>
    <div id="trending"></div>
    <div id="ourInovations"></div>
    <div id="ourTopProducts"></div>
    <div id="contactUs"></div>
    <div id="footer"></div>
    <div id="chat"></div>
    <!-- <div id="navbar2"></div> -->
</body>
</html>

<!-- git remote add origin https://github.com/bashar021/Durity.git -->

