.product-container {
    width: 100%;
    overflow-x: auto;
    padding: 20px 0;
    /* background-color: red; */

}

.recent-view-scrollbtn-box{
    position: relative;
}
.product-list {
    display: flex;
    gap: 20px;
    padding: 10px;
}


.product-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-code {
    color: #666;
    font-size: 14px;
}

/* For WebKit browsers (Chrome, Safari) */
.product-container::-webkit-scrollbar {
    height: 8px;
}

.product-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.product-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.product-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#recentProducts{
    padding-top: 2%;
    /* position: relative; */
}