/* Very small phones (≤ 480px) */
@media (max-width: 480px) {
  /* Styles for small phones */
  .footer-trademark {
    /* background-color: red; */
  }
  .footer-trademark p {
    font-size: 10px;
  }
  #durity-short-links {
    font-size: 13px;
  }
  #footer-company-logo {
    display: none;
    /* height: 50px; */
    /* width: 50px; */
  }
  .follow-us-footer-text {
    margin-left: 20px;
  }
  #customer-support {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5%;
  }
  #customer-support div {
    margin-bottom: 20px;
  }
  #catalogue-download-design-container {
    font-size: 10px;
    display: block;
  }
  .cat-download-card {
    width: 85%;
    margin-bottom: 20px;
  }
  .our-catalofues-title {
    /* font-size: 120%; */
  }
  .cat-download-btn {
    font-size: 12px;
  }

  .cf-section {
    /* background-color: red; */
    padding: 0px;
  }
  .cf-container {
    width: 100%;
    max-width: 100%;
    /* background-color: red; */

    margin: 0px;
    margin-bottom: 5%;
  }
  .cf-info::after {
    /* background-color: red; */
    /* background-image: linear-gradient(red); */
    width: 100%;
  }
  .cf-form-group input,
  .cf-form-group textarea {
    width: 95%;
    padding: 10px;

    font-size: 16px;
  }
  .homepage-our-collection-img{
    /* height: 250px; */
    height: 145px;
    width: 170px;
    /* width: 300px; */
  }
  .section-content{
    /* background-color: red; */
    max-width: 100%;
    width: 100%;
  }
  .top-products-section{
    /* background-color: green; */
    padding: 0px;
    margin-bottom: 8%;
    min-height: auto;

  }
  .products-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


  }
  .our-collection-card{
    /* background-color: red; */
    padding: 10px;
    /* width: fit-content; */
    width: 40%;
    margin: 0px;
    text-align: center;
  }
  .product-image-wrapper{
   margin-bottom: 0px;
  }
  .cta-button{
    font-size: 12px;
    word-break:keep-all;
    word-wrap:normal;
    line-break: none;
    /* padding: 0px; */
    padding-left: 0px;
    text-align: center;
    padding-right: 0px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .about-visual{
    padding: 0px;
    /* background-color: green; */
    width: 100%;
  }
  .image-container{
    /* background-color: red; */
    margin-right: 0px;
    right:10px;
    left: 0px;
    width: fit-content;
    max-width: 100%;
  }
  .image-container img{
    min-width: 100%;
  }
  
  .section-content{
    /* background-color: red; */
  }
  .background-shapes{
    display: none;
  }
  .timeline{
    /* background-color: red; */
    min-width: 100%;
    max-width: 100%;
    /* margin: 0px; */
  }
  .timeline::before {
    display: none;
  }
  .timeline-item{
    /* background-color: green; */
    max-width: 85%;
    width: 85%;
    padding: 0px;
    /* min-width: 70%; */

  }
  .timeline-content{
    /* background-color: blue; */
    max-width: 100%;
    width: 100%;
    /* min-width: 80% */
    /* display: none; */
  }
 
  .timeline-content p{
    /* display: none; */
  }
  .timeline-content h3{
    /* display: none; */
  }
  .timeline-date{
    /* display: none; */
  }
  .about-page-titles{
    font-size: 28px;
  }
  .home-page-titles{
    font-size: 28px;
  }
  .careers-search-section{
    /* background-color: red; */
    padding-left: 0px;
  
    padding-right: 0px;
  }
  .careers-search-container{
    /* background-color: green; */
    max-width: 100%;
    width:100% ;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .careers-search-input{
    max-width: 80%;
  }
  .event-modal-overlay{
    padding: 0px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
  }
  .event-modal-container{
    /* background-color: red; */
    height: 70%;
    min-width: 100%;
    margin: 0px;
  }
  .event-modal-content{
    /* background-color: red; */
    padding-left: 0px !important;
  }
  .event-modal-description{
    padding-left: 6%;
  }
  .event-modal-info{
    /* background-color: red; */
    /* padding: 0px; */
    width: 95%;
  }
  .product-page-category-container{
    /* background-color: red; */
    /* padding: 0px; */
    /* gap: 0px; */
    /* scroll-padding: ; */
    padding-bottom: 5%;
  }
  .product-page-category-container div{
    /* background-color: green; */
    min-width: 46%;
  }
}

/* Standard phones (≤ 600px) */
@media (max-width: 600px) {
  /* Styles for most phones */
}

/* Tablets and small devices (≤ 768px) */
@media (max-width: 768px) {
  /* Styles for tablets or landscape phones */
}
